In [3]:
str1="Hello"
str2="World"

str= str1 +" "+ str2
print(str)

Hello World

In [7]:
str="Hello "
str1=str*3
print(str1)

Hello Hello Hello

In [8]:
print("Length of Python")
str=len("PYTHON")
print(str)

Length of Python
6

In [21]:
#slicing
str="PYTHON"
first_char=str[0]
print(str[0])
last_char=str[5]
print(str[5])
print(str[-1])

print(str[0:5])
print(str[::])
print(str[::-1])
print(str[::2])

P
N
N
PYTHO
PYTHON
NOHTYP
PTO

In [24]:
text="PythOn"
text_upper=text.upper()
text_lower=text.lower()
print(text_upper)
print(text_lower)

PYTHON
python

In [26]:
text="This is my first program"
title=text.title()
print(title)

This Is My First Program

In [27]:
text="Hello World"
swap=text.swapcase()
print(swap)

hELLO wORLD

In [83]:
#print a palindrome string

text="radar"

def palindrome(string):
    string1=string[::-1]
    if string==string1:
        return("True")
    else:
        return("false")

check_pal=palindrome(text)
print(check_pal)

True

In [35]:
#replace a substring
text="Hello World"
index=text.find("World")
print(index)
str1=text.replace("World","Python")
print(str1)

6
Hello Python

In [38]:
#check if contains 
text="Hello World"
contains= "World" in text
print(contains)

True

In [44]:
# output true false
text="hello Python"
start=text.startswith("u")
print(start)

ends=text.endswith("on")
print(ends)

False
True

In [46]:
text="apple,cherry,lichi,bannana"
fruits=text.split(",")
print(fruits)

['apple', 'cherry', 'lichi', 'bannana']

In [52]:
text="hello,python,i am here "
stripped_text=text.strip()
print(stripped_text)

hello,python,i am here

In [54]:
name="Alice"
age=30
print(f"My name is {name} of {age} years")

My name is Alice of 30 years

In [59]:
text="banannaaaaa"
print(text.count("a"))

7

In [62]:
text="He said,\"Hello\""
print(text)

newline="Hello \n World"
print(newline)

He said,"Hello"
Hello
 World

In [73]:
def count_vowels(text):
    vowels="AEIOUaeiou"
    count=0
    for char in text:
        if char in vowels:
            count=count+1

    return(count)
vowels_in_text=count_vowels("Hello WORLD")
print(vowels_in_text)

3

In [82]:
list_nums=[1,2,3,4,5]
def count_list(list1):
    count=0
    for num in list_nums:
        count=count+num
    return(count)

x=count_list(list_nums)
print(x)

15

In [77]:
x=[23,2,3,5,6,7,9]


print(min(x))
print(max(x))

2
23

In [105]:
def find_min_max(numbers):
    #if not numbers:
     #   return None, None  # Return None for empty list

    min_val = numbers[0]
    max_val = numbers[0]
    
    for num in numbers[1:]:
        if num < min_val:
            min_val = num
        print(num)
        if num > max_val:
            max_val = num

    return min_val, max_val

numbers=[7,4,5,8,9,6]
min_val,max_val=find_min_max(numbers)
print("Min_val:",min_val)
print("Max_val:",max_val)

4
5
8
9
6
Min_val: 4
Max_val: 9

In [106]:
#length of a string

def len_str(string1):
    length=0
    for _ in string1:
        length=length+1
    return length

string1="Hello World"
print(len_str(string1))

11

In [113]:
def swap(a,b):
    a=a+b
    b=a-b
    a=a-b
    return a,b

print(swap(5,4))
print(swap(7,3))

(4, 5)
(3, 7)

In [131]:
x=10
def odd_even(x):
        if x%2==0:
            return "even"
        else:
            return "odd"
            
print(odd_even(x))

even

3
even

In [195]:
def prime_or_not(num):
    if num<=1:
        return False
    for i in range(2, int(num**0.5)+1):
        if (num % i) == 0:
           return "not a Prime"
    return "prime"
            
print(prime_or_not(43))

prime

In [3]:
def sum_of_digits(number):
    total=0
    for digit in str(number):
        total=total+int(digit)
    return total

number=1234
print(sum_of_digits(number))

10

In [30]:
#Fibonacci 
def fibonacci(n):
    a,b=0,1
    for _ in range(n):
        a,b=b ,a+b
        print(a ," ")

fibonacci(9)

1
1
2
3
5
8
13
21
34

In [32]:

x=[1, 2, 2, 1]
y=[2, 2]

type(x)
type(y)

list

In [44]:
arr1=[1,2,2,1]
arr2=[2,2]

result=[]
set1=set()

def intersection(arr1,arr2):
    for num in arr1:
        if num in arr2 and num not in set1:
            result.append(num)
            set1.add(num)
    return result

print(intersection(arr1,arr2))

[2]

In [65]:
string1="leetcode"
string2=""

for i in string1:
    if i in string1 and i not in string2:
        string2=string2+i
print(string2)

letcod